#Master{
}
#SideBar {
background-color: blueviolet;
list-style: none;
}
.SideBarHover {
  box-shadow: 5px 6px 6px 2px black;
  transform: scale(1.1);
}
#ContentPage {
background-color: brown;
}

#Row1 {
padding: 1%;
}
#Row2 {
padding: 1%;
}
#Notes {
background-color: white;
}
#ImageScroll {
max-height: 45vh;
overflow-x: hidden;
overflow-y: scroll;
scrollbar-width: none;
}
.textfield {
}

/* className(s) */
.lis {
  transition: all 0.2 ease;
  cursor: pointer;
}
.lis:hover{
  box-shadow: 5px 6px 6px 2px black;
  transform: scale(1.1);
}

